section.content {
  padding-left: 250px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #eeeeee;
  box-sizing: border-box;
}

nav.sidebar {
  z-index: 1;
  background-color: white;
  width:250px;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  border-right: 1px solid #d9d9d9;
}